# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kwordquiz -caption "%c" %i
Icon=kwordquiz
DocPath=kwordquiz/index.html
Comment=A flashcard and vocabulary learning program
Comment[fr]=Un programme d'apprentissage du vocabulaire et de cartes flash
Comment[x-test]=xxA flashcard and vocabulary learning programxx
Terminal=false
Name=KWordQuiz
Name[x-test]=xxKWordQuizxx
GenericName=Vocabulary Trainer
GenericName[fr]=Tester son vocabulaire
GenericName[x-test]=xxVocabulary Trainerxx
Categories=Qt;KDE;Education;X-KDE-Edu-Language;
