# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kwordquiz -caption "%c" %i %m  
Icon=kwordquiz
DocPath=kwordquiz/index.html
Comment=A flashcard and vocabulary learning program
Terminal=0
Name=KWordQuiz
Name[sv]=Kwordquiz
Name[ta]=கே§Å¡÷ÎÅ¢É¡ÊÅ¢É¡
Name[xx]=xxKWordQuizxx
GenericName=Vocabulary Trainer
