# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kwordquiz -caption "%c" %i %m
Icon=kwordquiz
DocPath=kwordquiz/index.html
Comment=A flashcard and vocabulary learning program
Comment[af]='n Flitskaart- en woordeskat-aanleerprogram
Comment[bg]=Програма за запаметяване с карти
Comment[bs]=Program za učenje kartica i rječnika
Comment[ca]=Un programa de targetes ràpides i d'aprenentatge de vocabulari
Comment[da]=Et kort- og ordforråds indlæringsprogram
Comment[de]=Ein Karteikarten- und Vokabellernprogramm
Comment[es]=Un programa de aprendizaje de fichas y vocabulario
Comment[et]=Sähvikute ja sõnavara omandamise programm
Comment[eu]=Fitxak eta hiztegiak ikasteko programa bat
Comment[fi]=Opettelukortti- ja sanastoharjoitusohjelma
Comment[fr]=Un programme d'apprentissage du vocabulaire et de cartes flash
Comment[gl]=Un programa para aprender vocabulario
Comment[hi]=फ्लैश कार्ड तथा शब्द सीखने का प्रोग्राम
Comment[hu]=Elektronikus szótárfüzet gyakorlási lehetőséggel
Comment[is]=Hjálparkorta og orðaforða-kennslutól
Comment[it]=Un programma di supporto alla memorizzazione
Comment[ja]=フラッシュカードと語彙の学習プログラム
Comment[mk]=Флеш картичка и програма за проширување на речникот
Comment[nb]=Et program for gloseøving og spørsmålskort
Comment[nl]=Een woordenschat-lesprogramma
Comment[nn]=Eit program for gloseøving og spørsmålskort
Comment[pl]=Program do przypominania i nauki słówek
Comment[pt]=Um programa de cartões e aprendizagem de vocabulário
Comment[pt_BR]=Um programa de cartas para aprendizagem de vocabulário
Comment[ru]=Программа для заучивания слов
Comment[sk]=Výukový program pre slovíčka
Comment[sl]=Program za učenje s kartami in učenje besedišča
Comment[sr]=Програм за учење речника и помоћу брзих картица
Comment[sr@Latn]=Program za učenje rečnika i pomoću brzih kartica
Comment[sv]=Ett program med snabbkort och ordförrådsinlärning
Comment[ta]=ஒரு ஒளி அட்டை மற்றும் சொல்லாக்கம் பயிலும் நிரல்
Comment[tg]=Омӯзиши луғат
Comment[tr]=Bir fiş ve dilbilgisi öğrenme uygulaması
Comment[uk]=Програма для завчання слів по картках
Comment[xx]=xxA flashcard and vocabulary learning programxx
Comment[zh_CN]=Flash 卡片和词汇学习程序
Terminal=false
Name=KWordQuiz
Name[hi]=के-वर्ड-क्विज़
Name[sv]=Kwordquiz
Name[ta]=கேவார்த்தை வினாவிடை
Name[tg]=KҲарфИмтиҳон
Name[xx]=xxKWordQuizxx
GenericName=Vocabulary Trainer
GenericName[af]=Woordeskat-afrigter
GenericName[ar]=مدرب الكلمات
GenericName[bg]=Речникови тренировки
GenericName[bs]=Učitelj rječnika
GenericName[ca]=Entrenador de vocabulari
GenericName[cs]=Procvičování slovní zásoby
GenericName[cy]=Hyfforddwr Geirfa
GenericName[da]=Ordforrådsøvelser
GenericName[de]=Vokabeltrainer
GenericName[el]=Εκπαιδευτής λεξιλογίου
GenericName[es]=Entrenador de vocabulario
GenericName[et]=Sõnavara treening
GenericName[eu]=Hiztegi entrenatzailea
GenericName[fi]=Sanaston harjoittaja
GenericName[fr]=Tester son vocabulaire
GenericName[gl]=Entreador de vocabulario
GenericName[he]=מאמן אוצר מילים
GenericName[hi]=शब्दावली प्रशिक्षक
GenericName[hr]=Trener vokabulara
GenericName[hu]=Szótárfüzet
GenericName[is]=Æfir orðaforða
GenericName[it]=Apprendimento di vocaboli
GenericName[ja]=ボキャブラリの強化
GenericName[lt]=Žodyno treniruoklis
GenericName[lv]=Mācību Vārdnīca
GenericName[mk]=Тренер за речник
GenericName[mn]=Эгшигийн дасгал
GenericName[ms]=Jurulatih Perbendaharaan Kata
GenericName[nb]=Glosetrening
GenericName[nds]=Vokabeln lehren
GenericName[nl]=Woordenschattrainer
GenericName[nn]=Glosetrening
GenericName[nso]=Morutisi wa Tsebo ya Mantsu
GenericName[pl]=Trening słownictwa
GenericName[pt]=Treinar o Vocabulário
GenericName[pt_BR]=Um Treinador de Vocabulário
GenericName[ru]=Тренировка словарного запаса
GenericName[se]=Sátnehárjeheapmi
GenericName[sk]=Tréning slovnej zásoby
GenericName[sl]=Učitelj besednega zaklada
GenericName[sr]=Тренер речника
GenericName[sr@Latn]=Trener rečnika
GenericName[sv]=Ordförrådsträning
GenericName[ta]=சொல்லாக்க பயிற்சியாளர்
GenericName[tg]=Машқи Луғат
GenericName[uk]=Тренування словникового запасу
GenericName[ven]=Mugudisi wa ndivho
GenericName[xh]=Uqeqeshi Wonobumba ababekwe ngokulandelelana
GenericName[xx]=xxVocabulary Trainerxx
GenericName[zh_CN]=单词练习
GenericName[zh_TW]=字彙訓練師
GenericName[zu]=Umlolongi Wokusetshenziswa kwamagama
