<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui version="21" name="kwordquiz" >
 <MenuBar>
  <Menu name="file" >
    <Action append="open_merge" name="file_ghns" />
  </Menu>
  <Menu name="edit" >
   <!--<Separator/>-->
   <Action name="edit_insert" />
   <Action name="edit_delete" />
   <Separator/>
   <Action name="edit_mark_blank" />
   <Action name="edit_unmark_blank" />
  </Menu>
  <Menu name="vocabulary" >
   <text>V&amp;ocabulary</text>
   <Action name="vocab_languages" />
   <Action name="vocab_font" />
   <Separator/>
   <Action name="vocab_image" />
   <Action name="vocab_sound" />
   <Separator />
   <Action name="vocab_adjust_rows" />
   <Separator/>
   <Action name="vocab_shuffle" />
   <!--<Action name="vocab_leitner" />
   <Action name="vocab_leitner_config" />-->
  </Menu>
  <Menu name="mode" >
   <text>&amp;Mode</text>
   <Action name="mode_1" />
   <Action name="mode_2" />
   <Action name="mode_3" />
   <Action name="mode_4" />
   <Action name="mode_5" />
  </Menu>
  <Menu name="quiz" >
   <text>&amp;Quiz</text>
   <Action name="quiz_check" />
   <Separator/>
   <Action name="qa_mark_last_correct" />
   <Action name="flash_know" />
   <Action name="flash_dont_know" />
   <Separator/>
   <Action name="qa_hint" />
   <Action name="quiz_audio_play" />
   <Separator/>
   <Action name="quiz_restart" />
   <Action name="quiz_repeat_errors" />
   <Separator/>
   <Action name="quiz_export_errors" />
  </Menu>
  <Menu name="settings" >
    <Action name="config_show_search" />
  </Menu>
  </MenuBar>
  <ToolBar name="mainToolBar">
    <Action name="mode_0"/>
  </ToolBar>
  <ToolBar name="quizToolBar" position="right" iconText="icontextright" >
   <text>Quiz</text>
   <Action name="quiz_check" />
   <Separator/>
   <Action name="qa_mark_last_correct" />
   <Action name="flash_know" />
   <Action name="flash_dont_know" />
   <Separator/>
   <Action name="qa_hint" />
   <Action name="quiz_audio_play" />
   <Separator/>
   <Action name="quiz_restart" />
   <Action name="quiz_repeat_errors" />
  </ToolBar>
  <ToolBar name="characterToolBar" iconText="icontextbottom" hidden="true">
   <text>Special Characters</text>
   <Action name="char_1" />
   <Action name="char_2" />
   <Action name="char_3" />
   <Action name="char_4" />
   <Action name="char_5" />
   <Action name="char_6" />
   <Action name="char_7" />
   <Action name="char_8" />
   <Action name="char_9" />
  </ToolBar>
  <State name="switchEditQuiz">
    <enable>
      <Action name="file_save" />
      <Action name="file_save_as" />
      <Action name="file_print" />
      <Action name="edit_find" />
      <Action name="edit_clear" />
      <Action name="edit_insert" />
      <Action name="edit_delete" />
      <Action name="edit_mark_blank" />
      <Action name="edit_unmark_blank" />
      <Action name="vocab_languages" />
      <Action name="vocab_font" />
      <Action name="vocab_sort" />
      <Action name="vocab_shuffle" />
      <Action name="vocab_leitner" />
      <Action name="vocab_leitner_config" />
    </enable>
  </State>
  <State name="showingEdit">
    <enable>
      <Action name="quiz_flash" />
      <Action name="quiz_multiple" />
      <Action name="quiz_qa" />
      <Action name="quiz_audio_play" />
    </enable>
    <disable>
      <Action name="quiz_editor" />
      <Action name="quiz_repeat_errors" />
      <Action name="quiz_restart" />
      <Action name="quiz_check" />
      <Action name="flash_know" />
      <Action name="flash_dont_know" />
      <Action name="qa_hint" />
    </disable>
  </State>

  <State name="showingFlash">
    <enable>
      <Action name="quiz_editor" />
      <Action name="quiz_multiple" />
      <Action name="quiz_qa" />
      <Action name="quiz_check" />
      <Action name="vocab_font" />
      <Action name="flash_know" />
      <Action name="flash_dont_know" />
      <Action name="quiz_restart" />
      <Action name="quiz_audio_play" />
    </enable>
    <disable>
      <Action name="quiz_flash" />
      <Action name="quiz_repeat_errors" />
      <Action name="qa_hint" />
    </disable>
  </State>
  <State name="showingMultiple">
    <enable>
      <Action name="quiz_editor" />
      <Action name="quiz_flash" />
      <Action name="quiz_qa" />
      <Action name="quiz_check" />
      <Action name="quiz_restart" />
      <Action name="quiz_audio_play" />
    </enable>
    <disable>
      <Action name="quiz_multiple" />
      <Action name="flash_know" />
      <Action name="flash_dont_know" />
      <Action name="qa_hint" />
      <Action name="quiz_repeat_errors" />
    </disable>
  </State>
  <State name="showingQA">
    <enable>
      <Action name="quiz_editor" />
      <Action name="quiz_flash" />
      <Action name="quiz_multiple" />
      <Action name="quiz_check" />
      <Action name="qa_hint" />
      <Action name="quiz_restart" />
      <Action name="quiz_audio_play" />
    </enable>
    <disable>
      <Action name="quiz_qa" />
      <Action name="flash_know" />
      <Action name="flash_dont_know" />
      <Action name="quiz_repeat_errors" />
    </disable>
  </State>
  <Menu name="editor_popup">
    <Action name="edit_undo" />
    <Separator/>
    <Action name="edit_cut" />
    <Action name="edit_copy" />
    <Action name="edit_paste" />
    <Separator/>
    <Action name="edit_insert" />
    <Action name="edit_delete" />
    <Separator/>
    <Action name="vocab_languages" />
    <Separator/>
    <Action name="vocab_layouts" />
  </Menu>
</gui>
