# KDE Config File
[Desktop Entry]
Type=Application
Exec=kwordquiz %u -qwindowtitle %c -qwindowicon kwordquiz
Icon=kwordquiz
X-DocPath=kwordquiz/index.html
MimeType=application/x-kvtml;
Comment=A flashcard and vocabulary learning program
Comment[af]='n Flitskaart- en woordeskat-aanleerprogram
Comment[be]=Праграма паляпшэння слоўнікавага запасу (флэшкарткі)
Comment[bg]=Програма за запаметяване с карти
Comment[bn]=ফ্ল্যাশকার্ড ব্যবহার ও শব্দভাণ্ডার সমৃদ্ধকারী একটি প্রোগ্রাম
Comment[bs]=Program za učenje karticama i rječnik
Comment[ca]=Un programa de targetes ràpides i d'aprenentatge de vocabulari
Comment[ca@valencia]=Un programa de targetes ràpides i d'aprenentatge de vocabulari
Comment[cs]=Výukový program na procvičení slovní zásoby
Comment[csb]=Programa do wdôrzeniô ë ùczbë słów
Comment[cy]=Rhaglen cerdiau fflach ar gyfer dysgu geirfa
Comment[da]=Et kort- og ordforråds indlæringsprogram
Comment[de]=Ein Karteikarten- und Vokabel-Lernprogramm
Comment[el]=Ένα πρόγραμμα εκμάθησης λεξιλογίου
Comment[en_GB]=A flashcard and vocabulary learning program
Comment[eo]=Fulmokarta kaj vortoproviza lernila programo
Comment[es]=Un programa de tarjetas y aprendizaje de vocabulario
Comment[et]=Sähvikute ja sõnavara omandamise programm
Comment[eu]=Fitxak eta hiztegiak ikasteko programa bat
Comment[fa]=برنامه کارت فلاش و یادگیری واژه‌ها
Comment[fi]=Kysymyskorttien ja sanaston oppimisohjelma
Comment[fr]=Un programme d'apprentissage du vocabulaire et de cartes voyantes
Comment[ga]=Feidhmchlár le luaschártaí a chabhraíonn leat do stór focal a fheabhsú
Comment[gl]=Aprendizaxe de vocabulario e xogos de tarxetas
Comment[gu]=ફ્લેશ કાર્ડ અને શબ્દયાદી શિખવનાર કાર્યક્રમ
Comment[he]=תוכנית ללימוד דקדוק
Comment[hi]=फ्लैश कार्ड तथा शब्द सीखने का प्रोग्राम
Comment[hne]=फ्लैस कार्ड अउ सब्द सीखने के प्रोग्राम
Comment[hr]=Program za učenje vokabulara
Comment[hu]=Elektronikus szótárfüzet gyakorlási lehetőséggel
Comment[is]=Hjálparkorta og orðaforða-kennslutól
Comment[it]=Un programma di supporto alla memorizzazione
Comment[ja]=フラッシュカードと語彙学習プログラム
Comment[ka]=სიტყვათა მარაგის შემოწმება ბარათებით
Comment[kk]=Сөздерді жаттау бағдарламасы
Comment[km]=កម្មវិធី​រៀន​វាក្យសព្ទ និង​​ប័ណ្ណ​ពន្យល់​
Comment[ko]=플래시카드와 어휘 학습 도구
Comment[lt]=Žodyno mokymosi kortelių pagalba programa
Comment[lv]=Apmācības programma vārdu krājuma papildināšanai, izmantojot vārdu kartītes
Comment[mk]=Флеш картичка и програма за проширување на речникот
Comment[ml]=ഫ്ലാഷ്‌കാര്‍ഡും വാക്പട്ടികയും പഠിക്കാനുള്ള ഒരു പ്രോഗ്രാം
Comment[mr]=फ्लैश कार्ड व शब्द शिकण्याचा कार्यक्रम
Comment[nb]=Et program for gloseøving og spørsmålskort
Comment[nds]=En Naslakoort- un Vokavellehr-Programm
Comment[ne]=फ्ल्यासकार्ड र शब्द सिक्ने कार्यक्रम
Comment[nl]=Een woordenschat-lesprogramma
Comment[nn]=Eit program for gloseøving og spørsmålskort
Comment[pl]=Program do przypominania i nauki słówek
Comment[pt]=Um programa de cartões e aprendizagem de vocabulário
Comment[pt_BR]=Um programa de cartas para aprendizagem de vocabulário
Comment[ru]=Программа для заучивания слов
Comment[sk]=Výukový program pre slovíčka
Comment[sl]=Program za učenje s kartami in učenje besedišča
Comment[sv]=Ett program med snabbkort och ordförrådsinlärning
Comment[ta]=ஒரு ஒளி அட்டை மற்றும் சொல்லாக்கம் பயிலும் நிரல்
Comment[tg]=Омӯзиши луғат
Comment[tr]=Bir fiş ve sözcük öğrenme uygulaması
Comment[ug]=سۆز ئۆگىنىش پروگراممىسى
Comment[uk]=Програма для навчання за картками і поповнення словникового запасу
Comment[vi]=Một chương trình luyện tập từ vừng bằng các thẻ
Comment[x-test]=xxA flashcard and vocabulary learning programxx
Comment[zh_CN]=Flash 卡片和词汇学习程序
Comment[zh_TW]=閃卡與字彙學習程式
Terminal=false
Name=KWordQuiz
Name[af]=KWordQuiz
Name[be]=KWordQuiz
Name[bg]=KWordQuiz
Name[bn]=কে-ওয়ার্ড-কুইজ
Name[br]=KWordQuiz
Name[bs]=KWordQuiz
Name[ca]=KWordQuiz
Name[ca@valencia]=KWordQuiz
Name[cs]=KWordQuiz
Name[csb]=KWordQuiz
Name[cy]=KWordQuiz
Name[da]=KWordQuiz
Name[de]=KWordQuiz
Name[el]=KWordQuiz
Name[en_GB]=KWordQuiz
Name[eo]=KWordQuiz
Name[es]=KWordQuiz
Name[et]=KWordQuiz
Name[eu]=KWordQuiz
Name[fi]=KWordQuiz
Name[fr]=KWordQuiz
Name[ga]=KWordQuiz
Name[gl]=KWordQuiz
Name[gu]=KWordQuiz
Name[he]=KWordQuiz
Name[hi]=के-वर्ड-क्विज
Name[hne]=के-वर्ड-क्विज
Name[hr]=KWordQuiz
Name[hu]=KWordQuiz
Name[ia]=KWordQuiz
Name[is]=KWordQuiz
Name[it]=KWordQuiz
Name[ja]=KWordQuiz
Name[ka]=KWordQuiz
Name[kk]=KWordQuiz
Name[km]=KWordQuiz
Name[ko]=KWordQuiz
Name[lt]=KWordQuiz
Name[lv]=KWordQuiz
Name[mk]=KWordQuiz
Name[ml]=കെ-വേര്‍ഡ്ക്വിസ്
Name[mr]=के-वर्ड-क्विझ
Name[ms]=KWordQuiz
Name[nb]=KWordQuiz
Name[nds]=KWordQuiz
Name[ne]=केडीई वर्ड क्विज
Name[nl]=KWordQuiz
Name[nn]=KWordQuiz
Name[pl]=KWordQuiz
Name[pt]=KWordQuiz
Name[pt_BR]=KWordQuiz
Name[ro]=KWordQuiz
Name[ru]=KWordQuiz
Name[sk]=KWordQuiz
Name[sl]=KWordQuiz
Name[sv]=Kwordquiz
Name[ta]=கேவார்த்தை வினாவிடை
Name[tg]=KҲарфИмтиҳон
Name[tr]=KWordQuiz
Name[ug]=KWordQuiz
Name[uk]=KWordQuiz
Name[vi]=KWordQuiz
Name[x-test]=xxKWordQuizxx
Name[zh_CN]=KWordQuiz
Name[zh_TW]=語言_KWordQuiz
GenericName=Flash Card Trainer
GenericName[bg]=Речникови тренировки
GenericName[bs]=Učitelj fleš karticama
GenericName[ca]=Entrenador amb targetes ràpides
GenericName[ca@valencia]=Entrenador amb targetes ràpides
GenericName[cs]=Procvičování slovní zásoby s kartičkami
GenericName[csb]=Cwiczenczi ze słowiznë
GenericName[da]=Ordforrådsøvelser
GenericName[de]=Karteikartentrainer
GenericName[el]=Εκπαιδευτής λεξιλογίου
GenericName[en_GB]=Flash Card Trainer
GenericName[eo]=Fulmokarta ekzercilo
GenericName[es]=Entrenador de tarjetas
GenericName[et]=Sähvikute treening
GenericName[eu]=Flash txartelen entrenatzailea
GenericName[fi]=Sanaston harjoittelu kysymyskorteilla
GenericName[fr]=Entraînement avec des cartes voyantes
GenericName[ga]=Oiliúnóir Luaschártaí
GenericName[gl]=Adestrador de vocabulario
GenericName[gu]=ફ્લેશ કાર્ડ શિખવનાર
GenericName[hne]=फ्लेस कार्ड प्रसिक्छक
GenericName[hu]=Tanulókártyák
GenericName[is]=Minnisspjaldaæfingar
GenericName[it]=Apprendimento con carte mnemoniche
GenericName[ja]=フラッシュカード
GenericName[kk]=Сөздер жаттығуы
GenericName[km]=កម្មវិធី​បង្ហាត់​ដោយ​ប្រើ​ប័ណ្ណ​ពន្យល់​
GenericName[ko]=플래시 카드 트레이너
GenericName[lt]=Mokymasis iš kortelių
GenericName[lv]=Apmācība ar vārdu kartītēm
GenericName[ml]=ഫ്ലാഷ് കാര്‍ഡ് പഠനസഹായി
GenericName[mr]=फ्लैश कार्ड प्रशिक्षक
GenericName[nb]=Trening med spørsmålskort
GenericName[nds]=Koorten-Lehrprogramm
GenericName[ne]=फ्ल्यास कार्ड प्रशिक्षक
GenericName[nl]=Woorden oefenen
GenericName[nn]=Spørsmålskort
GenericName[pl]=Trening słownictwa
GenericName[pt]=Treinador de Cartões
GenericName[pt_BR]=Treinador de cartões
GenericName[ru]=Тренировка словарного запаса
GenericName[sk]=Precvičovanie slovnej zásoby s kartičkami
GenericName[sl]=Učenje s spominskimi kartami
GenericName[sv]=Snabbkortsträning
GenericName[tr]=Fiş Çalıştırıcı
GenericName[uk]=Тренування словникового запасу
GenericName[x-test]=xxFlash Card Trainerxx
GenericName[zh_CN]=卡片式训练程序
GenericName[zh_TW]=閃卡訓練師
Categories=Qt;KDE;Education;Languages;
X-DBUS-ServiceName=org.kde.kwordquiz
