[Desktop Entry]
Comment=KWordQuiz Vocabulary
Comment[af]=KWordQuiz Woordeskat
Comment[be]=Слоўнік KWordQuiz
Comment[bg]=Речник KWordQuiz
Comment[bn]=কে-ওয়ার্ড-কুইজ-এর শব্দ ভাণ্ডার
Comment[br]=Geriaoueg KWordQuiz
Comment[bs]=KWordQuiz rječnik
Comment[ca]=Vocabulari de KWordQuiz
Comment[cs]=KWordQuiz slovní zásoba
Comment[csb]=Słowizna KWordQuiz
Comment[cy]=Geirfa KWordQuiz
Comment[da]=KWordQuiz ordforråd
Comment[de]=KWordQuiz-Vokabeln
Comment[el]=Λεξικό του KWordQuiz
Comment[eo]=KWordQuiz vorprovizo
Comment[es]=Vocabulario de KWordQuiz
Comment[et]=KWordQuiz sõnastik
Comment[eu]=KWordQuiz hiztegia
Comment[fi]=KWordQuiz-sanasto
Comment[fr]=Vocabulaire de KWordQuiz
Comment[ga]=Stór Focal KWordQuiz
Comment[gl]=Vocabulario de KWordQuiz
Comment[he]=KWordQuiz אוצר מילים
Comment[hi]=के-वर्ड-क्विज़ शब्दावली
Comment[hr]=KWordQuiz vokabular
Comment[hu]=KWordQuiz-szótárfájl
Comment[is]=KWordQuiz orðaforði
Comment[it]=Vocabolario KWordQuiz
Comment[ja]=KWordQuiz 単語集
Comment[ka]=KWordQuiz სიტყვარი
Comment[km]=វាក្យសព្ទ KWordQuiz
Comment[lt]=KWordQuiz žodynas
Comment[mk]=KWordQuiz Речник
Comment[ms]=Perbendaharaan Kata KWordQuiz
Comment[nb]=KWordQuiz-vokabular
Comment[nds]=KWordQuiz-Vokaveln
Comment[ne]=केडीई वर्ड क्विज शब्दज्ञान
Comment[nl]=KWordQuiz-woordenschat
Comment[nn]=KWordQuiz-vokabular
Comment[pl]=Słownik programu KWordQuiz
Comment[pt]=Vocabulário do KWordQuiz
Comment[pt_BR]=Vocabulário do KWordQuiz
Comment[ru]=Словарь KWordQuiz
Comment[sk]=Slovník KWordQuiz
Comment[sl]=Besednjak za KWordQuiz
Comment[sr]=Речник KWordQuiz-а
Comment[sr@Latn]=Rečnik KWordQuiz-a
Comment[sv]=Kwordquiz-ordlista
Comment[ta]=கேவார்த்தை வினாவிடை சொல்லாக்கம்
Comment[tg]=Луғати KҲарфИмтиҳон
Comment[tr]=KWordQuiz Sözlüğü
Comment[uk]=Словник KWordQuiz
Comment[vi]=Từ vựng Đố Từ K
Comment[zh_CN]=KWordQuiz 词汇
Comment[zh_TW]=KWordQuiz 字彙
Hidden=false
Icon=kwordquiz_doc
MimeType=application/x-kwordquiz
Patterns=*.wql
Type=MimeType

