[Desktop Entry]
Comment=KWordQuiz Vocabulary
Comment[fr]=Vocabulaire de KWordQuiz
Comment[x-test]=xxKWordQuiz Vocabularyxx
Hidden=false
Icon=kwordquiz_doc
MimeType=application/x-kwordquiz
Patterns=*.wql
Type=MimeType

